@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
  padding: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);

}


#root {
  min-height: 100vh;
}


a {
  text-decoration: none;
}


.container, .container-fluid {

}
